<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <validation>
        <type name="ValidationApplicationBlockAdvanced.Customer" assemblyName="ValidationApplicationBlockAdvanced, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <ruleset name="Validation Ruleset">
                <fields>
                    <field name="CustomerName">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            messageTemplate="字段不允许为空！" name="Not Null Validator" />
                    </field>
                </fields>
                <methods>
                    <method name="Test">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            culture="zh-CN" lowerBound="0" lowerBoundType="Inclusive"
                            upperBound="10" messageTemplate="数值必须在0~10内" name="Range Validator" />
                    </method>
                </methods>
            </ruleset>
        </type>
    </validation>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
